<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570031811254-974goa8d6m0msd9pivf62s6ois97bgjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570031811254-974goa8d6m0msd9pivf62s6ois97bgjl</string>
	<key>API_KEY</key>
	<string>AIzaSyDpziZtWBZNmzwtCjW4fwSWK0ueGJiSRSY</string>
	<key>GCM_SENDER_ID</key>
	<string>570031811254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cosmosNepal.cosmos</string>
	<key>PROJECT_ID</key>
	<string>cosmos-astrology</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmos-astrology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570031811254:ios:8088282000bfb40a159417</string>
	<key>DATABASE_URL</key>
	<string>https://cosmos-astrology.firebaseio.com</string>
</dict>
</plist>